.profile-pic{
    width: 10em;
    height: 10em;
}
.tabela{
    margin: auto;   
}
h1{
    margin-left: 20px;
    font-family: 'Courier New', Courier, monospace;
}
.profile-summary{
    margin-left: 20px;
    font-family: 'Courier New', Courier, monospace;
}