.profile-pic{
    width: 10em;
    height: 10em;
}
.tabela{
    margin: auto;   
}
h1{
    margin-left: 20px;
    font-family: 'Courier New', Courier, monospace;
}
.profile-summary{
    margin-left: 20px;
    font-family:monospace;
    font-size:x-large;
}
.biografia{
    margin-top: 70px;
    margin: 60px 80px 80px;
    font-family:monospace;
    font-size: 20px;
    
}
h2{
    margin-bottom: 0px;
    margin-left: 10px;
}
.tabela-experiencia{
    margin-left: 10px;
}
.data-th{
    margin-left: 0px;
}